body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
}

header {
    background-image: url('download.jpeg');
    color: #1a0101;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15 20px;
}

header .logo {
    font-size: 1.5em;
}

header nav a {
    color: #0f0101;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    text-align: center;
}

section#about img {
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

section#skills ul {
    list-style-type: none;
    padding: 0;
}

section#skills li {
    display: inline;
    margin: 0 10px;
    background-color: #a60e83;
    padding: 10px;
    border-radius: 5px;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.project {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.project img {
    max-width: 50%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(41, 15, 171);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
